{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <title>{% block title %} Override Here {% endblock %} - Something wrong on PackageToMe</title>
</head>

<body>
  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <div class="card">
          {% block content %} Override here {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>