<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">  
  <link rel="stylesheet" type="text/css" href="css/lumen.css"> 
  <link rel="stylesheet" type="text/css" href="css/jumbotron.css">  
  <title>Erreure 404</title>  
</head>

<body>
  <div class="container">
    <div class="jumbotron">        
        <img class="img-responsive img-rounded center-block" src="img/apbio.jpg">
        <hr/>               
        <img class="img-responsive img-rounded center-block" src="img/cgrae.gif"> 
        <hr/>              
        <h3>OOOOOps page not found.</h3>        
        <p><a class="btn btn-lg btn-success" href="/" role="button">Retour</a></p>        
    </div>    
  </div>


</body>
</html>