{% load staticfiles %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" style="margin-top: 15px" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="{% static 'slide/slide1.jpg' %}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="{% static 'slide/slide2.jpg' %}" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="{% static 'slide/slide3.jpg' %}" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <div class="item">
            <img class="four-slide" src="{% static 'slide/slide4.jpg' %}" alt="Four slide">
          <div class="container">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
      </div>
    </div><!-- /.carousel -->